
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Yeni Proje Ekleme Sayfası</h2>

<form method="post">
    <label>Proje Adı</label>
    <input type="text" class="form-control" name="Projectname" />
    <br />

    <label>Proje İçeriği</label>
    <input type="text" class="form-control" name="ProjectContents" />
    <br />

    <button class="btn btn-info">Projeyi Kaydet</button>
</form>


