
@{
    ViewBag.Title = "AddScript";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}
<h2>Kayan Yazı Ekle</h2>

<form method="post">
    <label>Kayan Yazı</label>
    <input type="text" class="form-control" name="Script1" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
