@model List<Casgem_Portfolio.Models.Entities.TblStatistic>

@{
    Layout = null;
}

<section class="w3l-content-6 py-5">
    <div class="content-6-mian py-lg-5 py-md-4">
        <div class="container">
            <div class="content-info-in row">
                <div class="content-gd col-lg-5">
                    <h3 class="title-big mb-4">Yeteneklerim</h3>
                </div>
                <div class="content-gd col-lg-6 offset-lg-1">
                    @foreach (var item in Model)
                    {
                        <div class="progress-info">
                            <h6 class="progress-tittle">@item.StatisticTitle</h6>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: @item.Percentile%"
                                     aria-valuenow="@item.Percentile" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
