@model List<Casgem_Portfolio.Models.Entities.TblSkills>
@{
    Layout = null;
}

<div class="py-5 w3l-resume">
    <div class="container py-lg-5 py-3">
        <div class="row features-w3pvt-main mt-5 pt-md-3" id="features">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 feature-gird">
                    <div class="row features-hny-inner-gd">
                        <div class="col-md-2 col-2 featured_grid_left">
                            <div class="icon_left_grid">
                                <span class="fa fa-laptop" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-md-10 col-10 featured_grid_right_info">
                            <h4><a class="link-hny" href="#url">@item.Title1</a></h4>
                            <p>@item.Tite2</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
